# Virtual Environment
venv/
env/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Python packaging
*.egg-info/
dist/
build/

# Temporary files
temp.geojson
*.tmp

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Mac OS
.DS_Store
.AppleDouble
.LSOverride
._*

# Environment variables
.env
.vercel
